*{
    padding: 0;
    margin: 0;
    font-family: "Roboto Mono", monospace;
}

html{
    scroll-behavior: smooth;
}

body::-webkit-scrollbar{
    width: 10px;
    background-color: #000;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar-thumb{
    background-color: #FFF;
    border-radius: 20px;
    scroll-behavior: smooth;
}

#mainContainer{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000;    
}

.titleNav{
    font-size: 30px;
    padding: 30px;
    color: #FFF;
    text-decoration-line: overline;
    cursor: pointer;
}

.divAncor{
    display: flex;
    align-items: center;
    width: 30%;
    justify-content: space-between;
    font-size: 20px;
}

.aNav{
    cursor: pointer;
    color: #FFF;
    text-decoration: none;
    padding: 0px 10px;
}

.aNav:hover{
    color: #FFF;
    text-decoration-line: underline;
}

.iNav{
    font-size: 30px;
    padding: 30px;
    color: #FFF;
    cursor: pointer;
}

/*slideshow styles*/
.carousel{
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-images img {
    width: 100%;
    display: none;
}

.carousel-images img.active {
    display: block;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.prev{
    left: 10px;
}

.next{
    right: 10px;
}

.dots{
    text-align: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.iDots{
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    cursor: pointer;
}

.iDots.active{
    background-color: #717171;
}

.divInfos{
    width: 100%;
    height: 115px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.divInfo{
    display: flex;
    align-items: center;
    justify-content: center;
}

#divFrete{
    border-left: 1px solid black;
    border-right: 1px solid black;
    width: 30%;
}

.iconInfo{
    font-size: 40px;
}

.divP{
    padding-left: 20px;
}

.pInfoFirst{
    font-size: 20px;
    font-weight: 600;
}

.pInfoSecond{
    font-size: 14px;
}

.divProducts{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.divTypeProd{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 30px 0px;
}

.titleProds{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
}

.divProdsCate{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.divProd{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 30%;
}

.imgProd{
    width: 300px;
    height: 200px;
    object-fit: contain;
}

.pTitleProd{
    font-size: 18px;
    font-weight: 700;
    padding: 14px 0px;
    text-align: center;
}

.pPriceProd{
    font-size: 16px;
    padding: 10px 0px 5px 0px;
}

.pParceProd{
    font-size: 14px;
}

.divTams{
    display: flex;
    align-items: center;
    margin: 10px 0px;
}

.divTam{
    border: 1px solid black;
    margin: 0px 5px;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.activeTam{
    background-color: #000;
    color: #FFF;
}

.divAddProd{
    border: 1px solid black;
    background-color: #000;
    color: #FFF;
    padding: 10px;
    font-size: 14px;
    margin: 20px 0px;
    cursor: pointer;
}

.divAddProd:hover{
    background-color: #727272;
}

.pVerMais{
    border-bottom: 1px solid #000;
    font-size: 16px;
    padding: 5px;
}

.pVerMais:hover{
    color: #FFF;
    background-color: #000;
}

.footer{
    width: 100%;
    height: 400px;
    background-color: #000;
    position: relative;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.map{
    width: 40%;
    height: 250px;
    margin: 20px;
}

.divMap{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.video{
    width: 40%;
    height: 250px;
    margin: 20px;
}

.divBottomFooter{
    color: #FFF;
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    font-size: 25px;
}

.pFlexFooter{
    text-decoration-line: overline;
}

.iSocial{
    padding: 20px;
    cursor: pointer;
}

/*Cart Styles*/
.divCart{
    width: 30%;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    background-color: #FFF;
    transition: all 1s linear;
}

.divCart header{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.pCart{
    font-size: 20px;
}

.iconX{
    font-size: 50px;
}

.divProdCart{
    display: flex;
    margin-bottom: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    justify-content: space-around;
    height: 200px;
    width: 100%;
    align-items: center;
}

.imgCart{
    width: 200px;
    object-fit: contain;
}

.divInfosCart{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 50%;
}

.pTamCart{
    font-size: 14px;
}

.divPriceAdd{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.divAddCart{
    display: flex;
    padding: 10px;
    border-radius: 10px;
    background-color: #f9f9f9;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.iconAddCart{
    font-size: 14px;
    cursor: pointer;
}

.numberAddCart{
    font-size: 16px;
    margin: 0px 10px;
}

.footerCart{
    position: absolute;
    bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.btnFinishCart{
    font-size: 16px;
    border: none;
    background-color: #000;
    color: #FFF;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.btnFinishCart:hover{
    background-color: #727272;
}

.divProduct{
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

table{
    border: 1px solid black;
    width: 28%;
    display: flex;
    flex-direction: column;
}

tr{
    border-bottom: 1px solid black;
}

th{
    padding: 20px;
}

td{
    padding: 25px;
}

.aInsta{
    color: #FFF;
}

.divBtns{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
}

.btnColor{
    margin: 0px 10px;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.divPerso{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0px;
    flex-direction: column;
}

.btnPerso{
    padding: 20px;
    margin: 0px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.divColorPick{
    margin: 30px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.divShowResult{
    border: 1px solid black;
    width: 300px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0px;
}

.divSliders{
    margin: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divPick{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
}

.btnApply{
    width: 100px;
    height: 50px;
    border-radius: 10px;
}

.divGaleria{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0px;
}

.arrow{
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}

.imagesGaleria{
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 600px;
}

.image-container{
    text-align: center;
    transition: transform 0.5s ease;
}

.image-container img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.image-container.center img {
    width: 150px;
    height: 150px;
}

.image-container .description {
    margin-top: 5px;
    font-size: 14px;
}